@import url(style.css);

.faq{
    min-height: 700px;
    padding-top: 100px;
    margin-bottom: 100px;
}

h1 {
    color: #004080;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    color: #0066cc;
    margin-top: 30px;
}

.question {
    color: #004080;
    margin-top: 20px;
    font-size: 18px;
}

.answer {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.5;
}

hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    .question {
        font-size: 16px;
    }

    .answer {
        font-size: 14px;
    }
}